<h1>Editing concierto</h1>

<%= render "form", concierto: @concierto %>

<br>

<div>
  <%= link_to "Show this concierto", @concierto %> |
  <%= link_to "Back to conciertos", conciertos_path %>
</div>
